# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Data & Outputs
# ======================
data/
outputs/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
